# /
/blah.py
/*.d
/pushExe
/*.supp
/v
/*.gch
/.settings*
/.cproject
/.project
/compiler
/core.*
/core
/*.dump
/*~
/.ptp-sync
.objs/
.deps/
build/
.tags*
*.pyc

# Cmake
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# Project files
/nbproject/
.idea/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Config files
docker/web/conf/*

