# /
/blah.py
/*.d
/pushExe
/v
/*.gch
/.settings*
/.cproject
/.project
/compiler
/core.*
/core
/*.dump
/*~
/.ptp-sync
Testing/
cmake-build-debug
.objs/
.deps/
build/
iwyu/
.tags*
*.pyc

# Cmake
CMakeCache.txt
CMakeFiles/
*.cmake
Makefile

# Project files
/nbproject/
.idea/*
**/*.cbp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

List
RealmsCode

# Config files
docker/web/conf/*
/lib/pybind11/pybind11.cbp
_deps
*.supp
